@model Dashboard.Models.DriverModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DriverModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentCache)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentCache)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PreviousCache)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PreviousCache)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Server)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Server.ServerId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DriverId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
