@model Dashboard.Models.ServerModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServerModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServerGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServerGroup.ServerGroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ServerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
